#container {
    padding: 1em;
}

.textBoxes {
  background-color:rgb(150, 136, 136);
  color: rgb(255, 255, 255);
  font-size: 2em;
    border-radius: 10px;
    padding: .3em;
}
#numA {
    border: 3px solid black;
}
#numB {
    border: 2px solid black;
}
.buttonStyle {
    border: 2px solid;
    border-color: black;
    font-size: .5em;
    color: white;
    padding: .55em;
    border-radius: 5px;
    background-color: coral;
}
.fl {
    float: left;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}